@model SportsStore.services.GetProductsResponse
@{

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:black">Welcome</h1>
</div>


@{foreach (var item in Model.Products)
    {
        <div class="d-inline-flex p-2">
            <div class="row">
                <ul style="list-style-type: none;font-size:large" class="list-group-flush">
                    <li>
                        <img src="@item.ThumbnailUrl" />
                    </li>
                    <a style="color:black" href="">@item.Name Price- @item.Price$</a>
                </ul>
            </div>
        </div>
    }
}
<body style="background-color:burlywood">
</body>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="https://localhost:44380/@ViewBag.message/@ViewBag.previousPage">Previous</a></li>

        @{for (int i = 1; i <= Model.TotalPages; i++)
            {
                <div class="f">
                    <ul id="paging" style="list-style-type: none;">
                        <li class="page-item"><a class="page-link" href="https://localhost:44380/@ViewBag.message/@i">@i</a></li>

                    </ul>
                </div>
            }
        }
        <li class="page-item"><a class="page-link" tabindex="-1" href="https://localhost:44380/@ViewBag.message/@ViewBag.nextPage">Next</a></li>
    </ul>
</nav>
